body{
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
}

#title{
    background-color: teal;
    font-size: 3rem;
    color: red;
}

#introduction{
    text-decoration: underline;
    font-size: 2rem;
    color: yellow;
}

#linktomall{
    background-color: rgb(255, 0, 225);
    font-size: 1.5rem;
    color: rgb(0, 0, 255);
}

#colorChange{
    animation: changeColor 1s infinite alternate;
}

@keyframes changeColor{
    0% {color: red;}
    50% {color: white;}
    100% {color: rgb(0, 179, 255);}
}

#ufogif{
    width: 10rem;
    position: absolute;
    z-index: -9999;
}

@media (max-width: 768px){
    #title{
        font-size: 3rem;
    }

    #introduction{
        font-size: 1.5rem;
    }

    footer{
        display: none;
    }
}